<h1 class="trip_head"><%= @trip.name %></h1>

<ul>
<% @trip.locations.each do |location| %>
<li class="ui button"><%= link_to location.name, trip_location_path(@trip, location) %></li>
<% end %>
</li>

<hr>
<table class="striped">
  <tbody>
  <tr>
    <td><%= link_to 'Home', trips_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'Edit Trip', edit_trip_path(@trip) %></td>
  </tr>
  <tr>
    <td><%= link_to 'Delete', trip_path(@trip), method: :delete %></td>
  </tr>
  <tr>
    <td><%= link_to 'Add Location', new_trip_location_path(@trip) %></td>
  </tr>
</tbody>
</table>
